// color
$mainClrW: #fff;
$subClrBrown: #817161;
$focusClrY: #F2AC33;
$focusClrG: #1F9998;
$focusClrB: #221E73;
$bcgBlock: #00000080;
$header:rgba(129, 113, 97, 1);
$navBar:rgba(192, 158, 130, 0.5);


@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
