@import '../variable';

// addStatePage
.addStatePageContain {
  position: absolute;
  z-index: 100;
  height: calc(100% - 75px);
  width: calc(100% - 40px);
  background: rgba(0, 0, 0, 0.55);
  @include flexCenter;
  .addStateForm {
    position: relative;
    width: 90%;
    background: $mainClrW;
    padding: 0 15px 10px;
    .closeBtn {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 1.2rem;
      cursor: pointer;
    }
    .title {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      padding: 10px 0 5px;
      color: $subClrBrown;
      border-bottom: 1px solid $subClrBrown;
      margin-bottom: 8px;
    }
    .addStateFormContain {
      width: 90%;
      background: #ccc;
      margin: 15px auto;
      padding: 10px;
      font-size: 14px;
      textarea {
        resize: none;
        width: 75%;
        @include scrollbarContain;
      }
      .selectRemind {
        font-size: 12px;
        color: $focusClrG;
        margin-left: 5px;
      }
    }
    button {
      display: block;
      margin: 0 auto;
      padding: 4px 8px;
      border: 0;
      border-radius: 5px;
      color: $mainClrW;
      background: $subClrBrown;
      transition: linear 0.2s;
      &:hover {
        box-shadow: 0.2px 0.2px 4px #777777c9;
      }
    }
  }
}
