@import '../variable';

.caseDetailContainer {
  position: absolute;
  width: calc(100vw - 200px);
  height: calc(100vh - 70px);
  background: $bcgBlock;
  z-index: 20;
  font-size: 12px;
  @include flexCenter;
  .caseDetailContain {
    position: relative;
    width: 60%;
    height: 95%;
    background: $mainClrW;
    padding: 0 20px;
    .closePageIcon {
      position: absolute;
      font-size: 1.2rem;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
    nav {
      ul {
        @include flexCenter;
        border-bottom: 1px solid #ccc;
        li {
          background: lemonchiffon;
          font-size: 16px;
          font-weight: 600;
          padding: 8px 15px;
          margin: 10px 20px;
          cursor: pointer;
        }
      }
    }
  }
}

// appForm
.appFormContainer {
  background: lemonchiffon;
  max-width: 90%;
  margin: 0 auto;
  .statusFormContainer {
    background: #ddd;
    max-width: fit-content;
    margin: 0 auto;
    padding: 8px;
    font-size: 14px;
    textarea {
      resize: none;
      @include scrollbarContain
    }
  }
}
