@import '../variable';

// editNeed
.editNeedContainer {
  position: absolute;
  height: calc(100% - 75px);
  width: calc(100% - 40px);
  background: $bcgBlock;
  @include flexCenter;
  .editNeedContain {
    position: relative;
    width: 85%;
    height: 96%;
    padding: 10px;
    background: $mainClrW;
    .closeBtn {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 1.2rem;
      cursor: pointer;
    }
    .title {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }
    .editNeedWidth {
      height: 85%;
      @include scrollbar;
      margin-top: 5px;
      //   background: lightblue;
      .addTitle {
        display: flex;
        align-items: center;
        max-width: 90%;
        margin: 15px auto 0;
        font-size: 14px;
        font-weight: 600;
        color: $focusClrY;
        .addNeedIcon {
          margin-left: 3px;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
      .addNeedTable {
        width: 90%;
        margin: 12px auto 0;
        background: #ccc;
        border-radius: 3px;
        padding: 5px;
        & :first-child {
          @include flexBetween;
          .delNeedIcon {
            font-size: 1rem;
            cursor: pointer;
          }
        }
        .needTit {
          font-weight: 600;
          color: $focusClrG;
        }
        .needInput {
          display: flex;
          align-items: flex-start;
          padding-top: 5px;
          input {
            width: 100%;
          }
          textarea {
            resize: none;
            width: 100%;
            @include scrollbarContain;
          }
        }
        .center {
          align-items: center;
        }
      }
    }
    .submitBtn {
      position: relative;
      .finishBtn {
        @include flexCenter;
        margin: 10px auto 0;
        padding: 3px 8px;
        border: 0;
        border-radius: 5px;
        color: $mainClrW;
        background: $focusClrY;
        transition: linear 0.3s;
        &:hover {
          box-shadow: 0.2px 0.2px 6px #8a8a8ac9;
        }
      }
      .editVerify {
        position: absolute;
        color: $focusClrG;
        font-size: 12px;
        top: 50%;
        right: 50%;
        transform: translate(115px,-50%);
      }
    }
  }
}
