@import '../variable';

.checkStateContainer {
  position: absolute;
  width: calc(100vw - 200px);
  height: calc(100vh - 70px);
  background: $bcgBlock;
  z-index: 20;
  font-size: 12px;
  @include flexCenter;
  .close {
    position: absolute;
    top: 15%;
    right: 20%;
    background: $focusClrG;
    z-index: 30;
    color: $mainClrW;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
  }
  .checkStateContain {
    position: relative;
    width: 50%;
    height: 70%;
    background: $mainClrW;
    padding: 20px;
    @include scrollbar;
    .title {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      background: $subClrBrown;
      color: $mainClrW;
      padding: 8px;
    }
    .checkStateTable {
      margin: 20px auto;
      thead,
      tbody {
        border-bottom: 1px solid #ccc;
        text-align: center;
        th {
          padding: 10px 20px;
          font-size: 14px;
        }
        td {
          padding: 10px 20px;
          .icons {
            width: 40px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
      tbody :hover {
        background: #eee;
      }
    }
  }
}
